# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?





data/
outputs/
frontend/node_modules/
frontend/dist/
.venv/
venv/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.DS_Store
*.pyc
*.pyo
*.log
.env





{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowDeploymentUserToReadBucketConfiguration",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::606163771902:user/rajasekar_dev"
      },
      "Action": [
        "s3:ListBucket",
        "s3:GetBucketLocation",
        "s3:GetBucketOwnershipControls"
      ],
      "Resource": "arn:aws:s3:::brain-tumor-mri-classification-react"
    },
    {
      "Sid": "AllowDeploymentUserToManageFrontendObjects",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::606163771902:user/rajasekar_dev"
      },
      "Action": [
        "s3:GetObject",
        "s3:PutObject",
        "s3:DeleteObject"
      ],
      "Resource": "arn:aws:s3:::brain-tumor-mri-classification-react/*"
    },
    {
      "Sid": "PublicReadForStaticWebsite",
      "Effect": "Allow",
      "Principal": "*",
      "Action": "s3:GetObject",
      "Resource": "arn:aws:s3:::brain-tumor-mri-classification-react/*"
    }
  ]
}